<link rel="stylesheet" href="open_booster/drop_rate/drop_rate.style.css">
<div class="row droprate">
  <span class="common-color col-lg-3">{{ $ctrl.rates.common }}</span>
  <span class="rare-color col-lg-3">{{ $ctrl.rates.rare }}</span>
  <span class="epic-color col-lg-3">{{ $ctrl.rates.epic }}</span>
  <span class="legend-color col-lg-3">{{ $ctrl.rates.legend }}</span>
</div>
