.droprate {
  line-height: 104px;
  font-size: 36px;
  text-align: center;
}

.common-color {
  color: #777;
}
.rare-color {
  color: #337ab7
}
.epic-color {
  color: #6f5499;
}
.legend-color {
  color: #f0ad4e;
}