  <link rel="stylesheet" href="open_booster/open_booster.style.css">
  <div class="row" ng-repeat="booster in $ctrl.boosters">
    <div class="col-md-1">
      {{ $index }}
    </div>
    <div class="col-md-5">
      <div class="row text-center">
        <div class="col-md-3">
          {{booster.common}}
        </div>
        <div class="col-md-3">
          {{booster.rare}}
        </div>
        <div class="col-md-3">
          {{booster.epic}}
        </div>
        <div class="col-md-3">
          {{booster.legend}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 text-center common-color">
              Обычные
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.common}}</div>
              <div class="control-button">
                <button ng-disabled="$ctrl.isAllCardAssigned()" class="btn btn-default" ng-click="$ctrl.addValue(1, 'common')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button ng-disabled="$ctrl.canReduceCards('common')" class="btn btn-default" ng-click="$ctrl.addValue(-1, 'common')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 text-center rare-color">
              Редкие
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.rare}}</div>
              <div class="control-button">
                <button ng-disabled="$ctrl.isAllCardAssigned()" class="btn btn-default" ng-click="$ctrl.addValue(1, 'rare')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button ng-disabled="$ctrl.canReduceCards('rare')" class="btn btn-default" ng-click="$ctrl.addValue(-1, 'rare')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 text-center epic-color">
              Эпические
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.epic}}</div>
              <div class="control-button">
                <button ng-disabled="$ctrl.isAllCardAssigned()" class="btn btn-default" ng-click="$ctrl.addValue(1, 'epic')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button ng-disabled="$ctrl.canReduceCards('epic')" class="btn btn-default" ng-click="$ctrl.addValue(-1, 'epic')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 text-center legend-color">
              Легендарные
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.legend}}</div>
              <div class="control-button">
                <button ng-disabled="$ctrl.isAllCardAssigned()" class="btn btn-default" ng-click="$ctrl.addValue(1, 'legend')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button ng-disabled="$ctrl.canReduceCards('legend')" class="btn btn-default" ng-click="$ctrl.addValue(-1, 'legend')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <drop-rate boosters="$ctrl.boosters"></drop-rate>
    </div>
    <button type="button" class="btn btn-lg btn-success success-button pull-right" ng-click="$ctrl.addBooster()">OK</button>
  </div>
