/* app css stylesheet */

.wrapper {
    position: relative;
    max-width: 1980px;
    margin: 0 auto;
    background-color: #f3f3f3;
    box-sizing: border-box;
}


.content {
    background-color: #fffefe;
}


