<link rel="stylesheet" href="card_view/card_view.style.css">
<div class="card-view-container">
  <div class="card" ng-repeat="card in $ctrl.cards">
    <img src="{{card.image}}" alt="">
  </div>
</div>